/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #f5d6b4
  Brown: #D86F45
*/

.box {
  background-color: #f5d6b4;
}

.cloud {
  width: 180px;
  height: 50px;
  background-color: #d86f45;
  border-radius: 30px;
  position: relative;
  top: 166px;
  left: 120px;
}

.cloud::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: #d86f45;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -20px;
  box-shadow: 80px -30px #d86f45;
}
