/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  background: #4893d2
  shape:#063a86
*/

.box {
  background-color: #4893d2;
}

.shape {
  width: 100px;
  height: 250px;
  background-color: #063a86;
  margin: auto;
  position: relative;
  top: 25px;
}

.shape::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-color: #4893d2;
  transform: rotate(45deg);
  position: absolute;
  left: 15px;
  top: -35px;
  box-shadow: 177px 177px #4893d2;
}
