/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#62306D
  Orange: #E38F66
  Yellow: #F7EC7D
*/

.box {
  background-color: #62306d;
}

.ticket {
  width: 140px;
  height: 100px;
  background-color: #f7ec7d;
  position: relative;
  top: 100px;
  left: 100px;
}

.ticket::before {
  content: "";
  display: block;
  width: 60px;
  height: 100px;
  background-color: #e38f66;
  position: absolute;
  left: 140px;
}

.ticket::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #62306d;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  box-shadow: 135px -5px 0 -5px #62306d, 190px 0 #62306d, 0 90px #62306d,
    135px 95px 0 -5px #62306d, 190px 90px #62306d;
}
